.app.ant-layout {
  min-height: 100vh;
}

.app-content.ant-layout-content {
  padding: 40px;
}

.app-header-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end;
  align-items: center;
}

.profile-text.ant-typography {
  color: #fff;
  font-size: 24px;
  padding-left: 12px;
}


